body {
  background-color: black;
  display: flex;
  width: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.page__wrap {
  position: relative;
}
#canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: -10;
  transition: opacity 0.5s ease-in;
  opacity: 1;
}
.planeZ {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: calc(40vh * 1.5);
  /* position: relative; */
  justify-self: center;
  align-self: center;
}
.plane__wrap {
  display: grid;
  width: 100vw;
  height: 100vh;
  /* max-width: 600px;
  max-height: 400px; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-column-gap: 25px;
  grid-row-gap: 25px; */
}
.planeZ img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.largez {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100vh;
  opacity: 1;
  display: none;
}
.pl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -20;
}
.large {
  display: none;
}
